.flex {
    display: flex;
    background: lightblue;

}

.flex > * {
    /*border: 1px solid red !important;
    flex-grow: 2;
    flex-basis: 100px;
    padding: 1rem !important;*/
}

.flex > div {
    border: 1px solid red;
    flex: 1;
}
.flex > img {
    /*border: 1px solid yellow;*/
    inline-size: 400px;
    flex-shrink: 0;
}
/*
.flex > p {
    flex-grow: 1;
    border: 1px solid green !important;
    flex-basis: 50px;
}
*/